@import 'https://fonts.googleapis.com/css?family=Roboto:400,900|Share:400i,700';

@page {
  size: letter;
}

html body {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
}

body {
  margin: 0;
}

.invisible {
  visibility: hidden;
}

.page {
  width: 8.5in;
  height: 11in;
  margin: 0;
}

.page > .container {
  width: 100%;
}

.hero-header {
  font-family: 'Share', cursive;
  margin-bottom: 1em;
}

.hero-title > .title {
  font-size: 60pt;
  line-height: 48pt;
}

.hero-title > .subtitle {
  line-height: 2;
  font-size: 14pt;
  font-style: italic;
  font-weight: normal;
}

.timeline-item {
  font-size: 11pt;
  margin-bottom: 10pt;
  line-height: 1.4;
}

.item-dates {
  font-size: 9pt;
  text-align: right;
}

.timeline {
  position: relative;
  padding-bottom: 1em;
}

.timeline-milestone-icon {
  position: relative;
  text-align: center;
  background: white;
  margin-top: -4px;
  padding: 2px 0;
}

.timeline-header-title {
  font-family: 'Share', cursive;
  font-size: 20pt;
  margin-bottom: 1em;
}

.item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14pt;
}

.item-detail {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 9pt;
}

.page-line {
  top: 1em;
  bottom: 0;
  left: 174px;
  position: absolute;
  border-left: 3px solid grey;
}

.icon-item {
  text-align: center;
}

.icon-items {
  margin-bottom: 3em;
}

/* Allow wrapping */
.icon-items > .row .columns:nth-child(5n+0) {
  margin-left: 0;
}

.icon-items > .row .columns:nth-child(n+5) {
  margin-top: 1em;
}

.icon-item i {
  font-size: 1.5em;
}

.icon-item > .title {
  font-size: 10pt;
  line-height: 1;
}

.tidbit {
  font-size: 10pt;
  margin-bottom: 1em;
}
