@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600|Share:400i,700';

@page {
  size: letter;
}

html body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  color: #3b4047;
}

body {
  margin: 0;
}

.invisible {
  visibility: hidden;
}

.page-wrapper {
  position: relative;
  width: 8.5in;
  height: 11in;
  margin: 0;
}

.page {
  position: absolute;
  top: 30px;
  right: 45px;
  bottom: 0;
  left: -60px;
  margin: auto;
}

.page > .container {
  width: 100%;
}

.hero-header {
  font-family: 'Share', cursive;
  margin-bottom: 5rem;
  color: #3b4047;
}

.hero-title {
  margin-left: 122px; /* A align with timeline */
}

.hero-title > .title {
  font-size: 50pt;
  line-height: 58pt;
}

.hero-title > .subtitle {
  line-height: 1.2;
  font-size: 13pt;
  font-style: italic;
  font-weight: normal;
  color: #6b6b69;
  margin-left: 4px; /* Scoot to align with header since this is italic */
}

.timeline-item {
  font-size: 11pt;
  margin-bottom: 20pt;
  line-height: 1.4;
}

@media print {
  /* Avoid a timeline-item section from being cut off */
  .timeline-item:nth-child(7) {
    margin-top: 20vh;
  }
}

.item-dates {
  font-size: 8pt;
  text-align: right;
}

.timeline {
  margin-bottom: 3em;
}

.timeline-items {
  position: relative;
}

.timeline-milestone-icon {
  position: relative;
  background: white;
  margin-top: -4px;
  padding: 2px 0;
}

.section-header-title {
  font-family: 'Share', cursive;
  font-size: 20pt;
  margin-bottom: 0.5em;
  color: #3b4047;
}

i {
  color: #3b4047;
}

.item-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: bold;
}

.item-header > * {
  display: inline;
}

.item-role-at {
  font-size: 0.8em;
  font-weight: normal;
}

.item-location {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 8pt;
  color: #62666b;
}

.page-line {
  top: 0;
  bottom: 0;
  left: 202px;
  position: absolute;
  border-left: 3px solid #8a8b8a;
}

.icon-item {
  text-align: center;
}

.icon-items {
  margin-bottom: 3em;
}

/* Allow wrapping */
.icon-items > .row .columns:nth-child(4n + 1) {
  margin-left: 0;
}

.icon-items > .row .columns:nth-child(n + 5) {
  margin-top: 1em;
}

.icon-item i {
  font-size: 1.5em;
}

.icon-item > .title {
  font-size: 8pt;
  line-height: 1;
}

.tidbit {
  margin-bottom: 1em;
}

.tidbit,
.item-details {
  font-size: 9pt;
}

.inline-icon-item i {
  vertical-align: middle;
}

.contact-info-wrapper {
  display: flex;
  justify-content: flex-end;
}

.inline-icon-item {
  color: #6b6b69;
}

.inline-icon-item > span {
  margin-left: 0.5em;
  font-size: 10pt;
}

.corner-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1rem;
  color: #62666b;
}
